# Xcode
#

## Build generated
.buildinfo
build/
DerivedData/
!*.xcodeproj/xcshareddata/xcschemes
Carthage

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.DS_Store

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
report.junit
report.html
report.xml
/CTR.xcodeproj/project.pbxproj
/CTR.xcodeproj/project.xcworkspace/xcshareddata/swiftpm
/CTR.xcodeproj/xcshareddata
/CTR.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/CTR.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/Sources/CTR/Configuration/holder-Info.plist
/Sources/CTR/Configuration/verifier-Info.plist
/Brewfile_CI.lock.json
/Brewfile.lock.json
/Vendor/bundle/
/.bundle
.vscode
/Sources/Transport/Transport-Info.plist
/TransportTests/Info.plist
/Sources/Shared/Shared-Info.plist
/clcore.xcframework
/tmp-clcore