<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>general</key>
	<dict>
		<key>autoCloseTime</key>
		<integer>180</integer>
		<key>testresultWarningTTL</key>
		<integer>21600</integer>
		<key>QRTTL</key>
		<integer>180</integer>
		<key>QRRefresh</key>
		<integer>90</integer>
	</dict>
	<key>digid</key>
	<dict>
		<key>host</key>
		<string>https://tvs.coronacheck.nl</string>
		<key>consumerId</key>
		<string>cc_app</string>
		<key>redirectUri</key>
		<string>coronacheck://auth/login</string>
	</dict>
</dict>
</plist>
