<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>general</key>
	<dict>
		<key>testresultWarningTTL</key>
		<integer>21600</integer>
		<key>QRTTL</key>
		<integer>180</integer>
		<key>QRRefresh</key>
		<integer>10</integer>
		<key>holderFAQURL</key>
		<string>https://coronacheck.nl/nl/faq-in-app</string>
		<key>privacyPolicyURL</key>
		<string>https://coronacheck.nl/nl/privacy-in-app</string>
		<key>verifierAboutURL</key>
		<string>https://coronacheck.nl/nl/over-de-scanner-app-in-app</string>
		<key>verifierFAQURL</key>
		<string>https://coronacheck.nl/nl/faq-scanner-in-app</string>
	</dict>
	<key>digid</key>
	<dict>
		<key>authorizationEndpoint</key>
		<string>/coronitacc/oauth2/v1/auth</string>
		<key>host</key>
		<string>https://login.ggdghor.nl</string>
		<key>tokenEndpoint</key>
		<string>/coronitacc/oauth2/v1/token</string>
		<key>consumerId</key>
		<string>6456237456911667336</string>
		<key>redirectUri</key>
		<string>coronatester-app-dev://auth/login</string>
	</dict>
</dict>
</plist>
