<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168257592968-g16m9hm3h2t6g7ie6gg6s81mujdq09go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168257592968-g16m9hm3h2t6g7ie6gg6s81mujdq09go</string>
	<key>API_KEY</key>
	<string>AIzaSyDIdA5jn_25ZIKFqnCuSy3QN9QUuMbOx4k</string>
	<key>GCM_SENDER_ID</key>
	<string>168257592968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.rijksoverheid.ctr.test</string>
	<key>PROJECT_ID</key>
	<string>coronatester-test</string>
	<key>STORAGE_BUCKET</key>
	<string>coronatester-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168257592968:ios:5b5b37bd2aa002a526493d</string>
</dict>
</plist>