name: firebase

on:
  push:
    branches:
      - main

jobs:
  firebase-dev:
    runs-on: macOS-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Load certificate
      env:
        CERTIFICATE_CONTENTS: ${{ secrets.DIST_CERT_CONTENTS }}
      run: |
        mkdir fastlane/certificates
        echo "$CERTIFICATE_CONTENTS" | base64 -D > fastlane/certificates/distribution.p12
    - name: Build and deploy
      timeout-minutes: 45
      env:
        CERTIFICATE_PATH: fastlane/certificates/distribution.p12
        CERTIFICATE_PASSWORD: ${{ secrets.DIST_CERT_PASSWORD }}
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        SLACK_URL: ${{ secrets.SLACK_URL }}
      run: |
        bundle install
        bundle exec fastlane ios deploy_test_ci
  firebase-acc:
    runs-on: macOS-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Load certificate
      env:
        CERTIFICATE_CONTENTS: ${{ secrets.DIST_CERT_CONTENTS }}
      run: |
        mkdir fastlane/certificates
        echo "$CERTIFICATE_CONTENTS" | base64 -D > fastlane/certificates/distribution.p12
    - name: Build and deploy
      timeout-minutes: 45
      env:
        CERTIFICATE_PATH: fastlane/certificates/distribution.p12
        CERTIFICATE_PASSWORD: ${{ secrets.DIST_CERT_PASSWORD }}
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        SLACK_URL: ${{ secrets.SLACK_URL }}
      run: |
        bundle install
        bundle exec fastlane ios deploy_acc_ci
  firebase-prod:
    runs-on: macOS-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Load certificate
      env:
        CERTIFICATE_CONTENTS: ${{ secrets.DIST_CERT_CONTENTS }}
      run: |
        mkdir fastlane/certificates
        echo "$CERTIFICATE_CONTENTS" | base64 -D > fastlane/certificates/distribution.p12
    - name: Build and deploy
      timeout-minutes: 45
      env:
        CERTIFICATE_PATH: fastlane/certificates/distribution.p12
        CERTIFICATE_PASSWORD: ${{ secrets.DIST_CERT_PASSWORD }}
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
        SLACK_URL: ${{ secrets.SLACK_URL }}
      run: |
        bundle install
        bundle exec fastlane ios deploy_prod_ci